* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: sans-serif;
  letter-spacing: 0.1px;
}

.clr-gray {
  color: gray;
}

.navbar {
  max-width: 800px;
  padding: 10px 50px 10px 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid gray;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo img {
  height: 120px;
}

.navbar a {
  color: gray;
  text-decoration: none;
  font-size: 13px;
  font-weight: 300;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

@media screen and (max-width: 550px) {
  .navbar a {
    display: none;
  }
}

.navbar a:hover {
  color: white;
}

.navbar .hamburger {
  display: none;
}

@media screen and (max-width: 550px) {
  .navbar .hamburger {
    display: block;
  }
}

.sidebar-container {
  background-color: black;
  padding: 20px 30px 0px 30px;
  position: relative;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  overflow: hidden;
  z-index: 100;
  color: white;
}

.sidebar-container.side-bar-show {
  -webkit-animation: slide-right 0.5s ease-in-out forwards;
          animation: slide-right 0.5s ease-in-out forwards;
}

.sidebar-container.side-bar-hide {
  -webkit-animation: sidebar-slide-left 0.5s ease-in-out forwards;
          animation: sidebar-slide-left 0.5s ease-in-out forwards;
}

@-webkit-keyframes slide-right {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slide-right {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes sidebar-slide-left {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes sidebar-slide-left {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.sidebar-container ul {
  list-style: none;
  color: white;
  margin-top: 40px;
}

.sidebar-container ul li {
  margin-bottom: 20px;
}

.sidebar-container ul li a {
  color: white;
  text-decoration: none;
}

.sidebar-container .logo img {
  height: 140px;
}

.sidebar-container .close {
  position: absolute;
  right: 10px;
  top: 30px;
  padding: 5px 10px;
  color: white;
}

@media screen and (max-width: 550px) {
  .sidebar-container {
    display: block;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.main-container-bg {
  background: url("./images/development-bg.png") no-repeat;
  background-size: 700px 200px;
}

@media screen and (max-width: 700px) {
  .main-container-bg {
    background-size: 90vw 200px;
  }
}

.main-container {
  max-width: 800px;
  margin: auto;
  padding: 60px;
  padding-right: 50px;
  opacity: 0;
  -webkit-transition: opacity 3s ease-in-out;
  transition: opacity 3s ease-in-out;
}

.main-container.show {
  opacity: 1;
}

.main-container a {
  color: gray;
}

.main-container .heading h1 {
  font-weight: 400;
}

.main-container .heading-desc {
  margin: 30px 0 40px;
  font-size: 15px;
  line-height: 1.35;
}

.main-container .request-form #date-time {
  border: 2px solid #ff03ed;
  background-color: black;
  padding: 15px 20px;
  color: #d6d5d5;
  color-scheme: dark;
  cursor: pointer;
  outline: none;
  margin: 20px 0;
  width: 100%;
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
}

.main-container .request-form #date-time:hover {
  background-color: #ff03ed;
  color: white;
}

.main-container .request-form #date-time:hover::-webkit-input-placeholder {
  color: white;
}

.main-container .request-form #date-time:hover:-ms-input-placeholder {
  color: white;
}

.main-container .request-form #date-time:hover::-ms-input-placeholder {
  color: white;
}

.main-container .request-form #date-time:hover::placeholder {
  color: white;
}

.main-container .request-form .form-desc {
  font-size: 15px;
  line-height: 1.35;
}

.main-container .request-form .copy-text {
  background-color: #808080;
  padding: 15px 5px;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.main-container .request-form .copy-text img {
  margin-left: 10px;
}

.main-container .request-form .copy-text #copied {
  display: none;
}

@media screen and (max-width: 550px) {
  .main-container .request-form .copy-text {
    font-size: 12px;
  }
  .main-container .request-form .copy-text img {
    height: 20px;
    width: 20px;
  }
}

@media screen and (max-width: 550px) and (max-width: 430px) {
  .main-container .request-form .copy-text {
    font-size: 10px;
  }
  .main-container .request-form .copy-text img {
    height: 10px;
    width: 10px;
  }
}

@media screen and (max-width: 550px) and (max-width: 370px) {
  .main-container .request-form .copy-text {
    font-size: 8px;
  }
  .main-container .request-form .copy-text img {
    height: 8px;
    width: 8px;
  }
}

.main-container .request-form .txn-hash-input {
  width: 100%;
  padding: 15px 20px;
  background-color: transparent;
  outline: none;
  border: 2px solid #ff03ed;
  color: #d6d5d5;
  cursor: pointer;
  margin: 20px 0;
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
}

.main-container .request-form .txn-hash-input:hover {
  background-color: #ff03ed;
  color: white;
}

.main-container .request-form .txn-hash-input:hover::-webkit-input-placeholder {
  color: white;
}

.main-container .request-form .txn-hash-input:hover:-ms-input-placeholder {
  color: white;
}

.main-container .request-form .txn-hash-input:hover::-ms-input-placeholder {
  color: white;
}

.main-container .request-form .txn-hash-input:hover::placeholder {
  color: white;
}

.main-container .request-form .confirm-btn {
  width: 100%;
  background-color: #ff03ed;
  color: white;
  outline: none;
  border: none;
  padding: 15px;
  cursor: pointer;
  margin-top: 20px;
}

.main-container .request-form .form-heading {
  font-size: 24px;
  margin: 25px 0;
  font-weight: 400;
}

.main-container .form-submission-status {
  display: none;
}

.main-container .form-submission-status .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  margin: auto;
  border-top: 1px solid white;
  line-height: 20px;
  padding: 50px 0;
  gap: 100px;
}

@media screen and (max-width: 768px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
  }
}

footer a {
  color: white;
  text-decoration: none;
}

footer .footerSection {
  width: 250px;
  padding: 20px;
}

footer .footerSection .headerButton img {
  height: 60px;
  width: 60px;
}
